body {
    background-color: #94264e;
}

h1 {
    color: #443e5c;
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}