body {
    background-color: #94264e;
}

h1 {
    color: #443e5c;
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: purple;
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
}
.highlight{
    background-color: #7f1111;
    padding: 15px;
}